@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
header {
  background-color: none; /* Cor de fundo com opacidade */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
  padding: 10px;
  width: 50%;
  position: fixed;
  z-index: 1;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 10px;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-left: 1.5rem;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.9rem;
  font-family: 'Pixelify Sans', sans-serif;
  transition: 1s;
}
/* banner  */
.banner {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.banner img {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Para cobrir completamente o container */
}
.temporadas {
  margin: 5rem;
}
/* Descrição */
.descricao {
  margin: 5rem auto;
  padding: 10px;
  width: 70%;
}
.descricao h1 {
  margin: 5rem auto;
  text-align: center;
  font-size: 4rem;
  font-family: 'Pixelify Sans', sans-serif;
}
.descricao p {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  text-align: justify;
}
/* Temporadas */
.temporadas {
  margin: 5rem auto;
  padding: 10px;
  width: 70%;
}
.temporadas h1 {
  text-align: center;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 5rem;
  font-weight: 600;
  margin: 5rem 0;
}
.temporadas ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.temporadas ol li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  width: 30%;
  height: 3rem;
  color: #ffffff;
  font-family: 'Pixelify Sans', sans-serif;
  margin-top: 1rem;
  cursor: pointer;
}
.temporadas ol li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1rem;
}
.assinar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
}
.assinar h1 {
  text-align: center;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 5rem;
  font-weight: 600;
  margin: 5rem 0;
}
.assinar table {
  width: 70%;
  text-align: center;
}
.assinar table th {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Pixelify Sans', sans-serif;
  padding: 15px;
  cursor: pointer;
}
.assinar table td {
  background-color: green;
  color: #ffffff;
  font-family: 'Pixelify Sans', sans-serif;
  padding: 15px;
  cursor: pointer;
}
.inscricao {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem auto;
  color: white;
}
.inscricao h1 {
  color: #000000;
  text-align: center;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 5rem;
}
.inscricao form {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  align-items: center;
  margin: 2rem auto;
  padding: 2rem 0;
  width: 50%;
}
.inscricao label {
  width: 80%;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: start;
  margin-top: 1.5rem;
}
.inscricao input {
  border: none;
  padding: 10px;
  width: 80%;
  margin: 0.5rem 0;
}
.inscricao form select {
  border: none;
  padding: 10px;
  width: 80%;
  margin: 0.5rem 0;
  cursor: pointer;
}
.inscricao form select option {
  border: none;
  padding: 5px;
  width: 80%;
  margin: 0.5rem 0;
  cursor: pointer;
}
.inscricao form button {
  background-color: green;
  color: #ffffff;
  font-weight: 600;
  font-family: 'Pixelify Sans', sans-serif;
  border: none;
  padding: 10px;
  width: 80%;
  margin: 2rem 0;
  cursor: pointer;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Pixelify Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  background-color: #000000;
}
